<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->

<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

        <head>
            <meta name="viewport" content="width=1060">
<title>Seth Bergman - Resume</title>
            <link href="//cdn-careers.sstatic.net/careers/cso/all.min.css?v=1aa64d61913f" rel="stylesheet" type="text/css" />
            <link href="//cdn-careers.sstatic.net/careers/cso/banners.min.css?v=777cdad9ff5e" rel="stylesheet" type="text/css" />

    <link href="//cdn-careers.sstatic.net/careers/cso/cv.min.css?v=abb783a936e7" rel="stylesheet" type="text/css" />

            <!--[if lt IE 8]>
                <style type="text/css">
                    input[type=submit], button
                    {
                        width:auto !important;
                        min-width:0;
                    }
                </style>
            <![endif]-->
                <style type="text/css">
                    #header, #footer {
                        display: none;
                    }

                    #header-small {
                        width: 775px;
                        margin: 10px auto;
                    }

                    a#logo-small {
                        margin-top: 2em;
                        margin-bottom: 2em;
                    }

                    h1#position-title { margin-bottom: 1em; }

                    .container { width: 775px; }

                    #content { width: 715px; }

                    .main { margin: 0; }
                </style>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72520218-3', 'auto');
  ga('send', 'pageview');

</script>


<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@seth_bergman">
<meta name="twitter:domain" content="Seth Bergman - Resume">
<meta name="twitter:title" content="Seth Bergman">
<meta name="twitter:description" content="Founder at UnReal Property Solutions, LLC. I am a Full Stack Engineer focused on helping companies scale their infrastructure with secure applications using open source technologies and agile…">
<!-- <meta name="twitter:image" content="https://www.gravatar.com/avatar/8b73641a0eb8bf4f96261b63598ba1f6"> -->
<meta name="twitter:image" content="https://lh3.googleusercontent.com/-e6qzTw6m_gM/AAAAAAAAAAI/AAAAAAAAAAA/SB49qywAbKY/s120-c/photo.jpg">


                <link rel="alternate" hreflang="x-default" href="/sethbergman"/>
                <link rel="alternate" hreflang="de-de" href="/de/sethbergman"/>
                <link rel="alternate" hreflang="en-gb" href="/uk/sethbergman"/>
                <link rel="alternate" hreflang="fr-fr" href="/fr/sethbergman"/>
            <link rel="canonical" href="http://sethbergman.com/resume"/>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/workplace/img/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64" />
    <link rel="apple-touch-icon" sizes="57x57" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-57x57.png?v=eb98e5cf8fd9" />
    <link rel="apple-touch-icon" sizes="114x114" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-114x114.png?v=b2ed01c5c96f" />
    <link rel="apple-touch-icon" sizes="72x72" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-72x72.png?v=2797e4531abe" />
    <link rel="apple-touch-icon" sizes="144x144" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-144x144.png?v=5cb5187f598a" />
    <link rel="apple-touch-icon" sizes="76x76" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-76x76.png?v=6f64fe75b9e2" />
    <link rel="apple-touch-icon" sizes="152x152" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-152x152.png?v=b906110d24f0" />
    <link rel="apple-touch-icon" sizes="60x60" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-60x60.png?v=200f661af90c" />
    <link rel="apple-touch-icon" sizes="120x120" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-120x120.png?v=0562c2fc5a18" />
    <link rel="apple-touch-icon" sizes="180x180" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-180x180.png?v=04658f599369" />
    <link rel="icon" type="image/png" sizes="228x228" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-228x228.png?v=fb6cbba9c5cd" />
    <link rel="icon" type="image/png" sizes="196x196" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-196x196.png?v=f30ce66f3051" />
    <link rel="icon" type="image/png" sizes="195x195" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-195x195.png?v=aea8fddc07e5" />
    <link rel="icon" type="image/png" sizes="16x16" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-16x16.png?v=bca1afed9dfe" />
    <link rel="icon" type="image/png" sizes="32x32" href="//cdn-careers.sstatic.net/careers/Img/logos/favicon-32x32.png?v=e33ea506f24c" />
    <meta name="msapplication-TileColor" content="#F7F8F8">
    <meta name="msapplication-TileImage" content="//cdn-careers.sstatic.net/careers/Img/logos/favicon-144x144.png?v=5cb5187f598a" />
    <meta name="msapplication-config" content="//cdn-careers.sstatic.net/careers/Img/logos/browserconfig.xml?v=2f39631a1c24" />

        </head>
        <body class="strip logged-in">
            <noscript>
                <div id="noscript-padding"></div>
            </noscript>



                    <div id="header-small">

                    </div>

            <div class="container">
                                    <div id="content">






<div class="cv public">
        <div class="print-row">
            <!--<a class="print" data-url="" href="http://careers.stackoverflow.com/cv/299315/print-preview/21387337" onclick="window.open(this.href);return false;" rel="nofollow"> </a>-->
            <a class="print" data-url="" href="/resume/print" onclick="window.open(this.href);return false;" rel="nofollow"> </a>
        </div>
                <div class="personal-block">
            <div class="-row">
                <div class="personal-column -col9">

        <div id="section-personal" class="personal section highlight">

                <div id="" class="display">
                    <h1>
                        Seth Bergman
                    </h1>



<div id="currently-at-container">
        <div class="section currently-at">
            <strong>Full Stack Engineer</strong>                    <br />
Stack Riot
        </div>
</div>



                        <ul id="user-meta">
                            <li>Kyle, TX, United States</li>
                                        <li id="website"><a href="http://sethbergman.com">sethbergman.com</a></li>
                                    <li><a class="twitter" href="https://twitter.com/seth_bergman" target="_blank" title="Twitter">@seth_bergman</a></li>
                        </ul>
                </div>


        </div>





                </div>
                <div class="_textRight -col3">
<img alt="gravatar" class="gravatar" height="100" src="https://www.gravatar.com/avatar/8b73641a0eb8bf4f96261b63598ba1f6" width="100">
                </div>
            </div>
    <div id="cv-personal-statement" class="section highlight">

            <div id="statement" class="display quoted markdown">
                <p>I am a Full Stack Engineer focused on helping companies scale their infrastructure with secure applications using open source technologies and agile software development. I live and breathe the DevOps culture with an unstoppable desire to implement technologies that drive innovation, speed up development and provide continuous delivery of awesome software.</p>
<p>Automation and continuous integration/delivery are essential to the success of any SaaS business. It's important to be able to quickly iterate on new features and make improvements to code inside of a production environment without risk. As an enterprise facing the challenges of scale, it's imperative to iterate on either a Service Oriented Architecture, or use an isomorphic framework like React/Flux. Monoliths are becoming a thing of the past, and keeping up with best practices for security and compliance in cloud computing requires expert knowledge and vigilance. </p>
<p>One of my favorite things about software engineering is that there are always new technologies and languages to learn and implement, especially now with the advent of the Open Container Initiative. The ability to containerize applications has eliminated most dependency nightmares, and allows for a consistent runtime environment across distributed systems.</p>
<p>I enjoy solving complex problems, and I have an entrepreneurial background. I put clients at the top of my priority list when it comes to aggregating the knowledge necessary to solve business critical issues. I am a Linux enthusiast, I love working with containers, and I spend most of my time in the Ruby, Node.js, Python and PHP programming languages. I am very familiar with configuration management tools such as Chef, Puppet, SaltStack, Go, Scala and AWS. I also enjoy writing bash scripts to <strong><em>automate as much as possible</em></strong>.</p>
<p>I've recently built my own private PaaS using Drone and Dokku. Drone is a Continuous Integration platform built on container technology. Dokku is a mini-Heroku powered by Docker written in less than 100 lines of Bash. Every build is executed inside an ephemeral Docker container, giving developers complete control over their build environment with guaranteed isolation. The end result is a privately hosted continuous integration platform. This was a fun project and just one of the many examples of what I enjoy doing in my spare time.</p>
<h2>Summary of Qualifications:</h2>
<ul>
<li>JavaScript, HTML and CSS expert</li>
<li>Rails, Node.js, Meteor, Angular, LESS, SASS, PHP, Python, Perl</li>
<li>MySQL, NoSQL, Postgres, Redis, DynamoDB and MongoDB</li>
<li>Github, Bitbucket</li>
<li>API Designer / OAuth</li>
<li>Continuous Integration</li>
<li>Heroku / Dokku / Drone / Deis</li>
<li>Infrastructure Architect</li>
<li>Amazon Web Services</li>
<li>Google Compute Engine</li>
<li>OpenStack</li>
<li>Docker / Container Technologies</li>
<li>Virtualization / Cloud Formation</li>
<li>Advanced Networking</li>
<li>Security - PCI/DSS Compliance</li>
<li>Linux / Unix</li>
<li>JIRA / Bug Tracking / Technical Documentation</li>
<li>Agile Development Methodologies / SCRUM</li>
</ul>

            </div>


    </div>

        </div>
<form action="/jobs/checklocation" class="hide" id="checklocation" method="get"><input id="location" name="location" type="hidden" value="" /><input id="quality" name="quality" type="hidden" value="" /></form><form action="/cv/check-email" class="hide" id="checkemail" method="post"><input id="fkey" name="fkey" type="hidden" value="92a3755351e53ce7e366a8bddf2b9df9" /><input id="email" name="email" type="hidden" value="" /><input id="cvId" name="cvId" type="hidden" value="0" /></form>        <div>




        </div>
    <div id="technologies" class="section section-opener">
        <div class="section-header">
            <h2>Technologies</h2>
        </div>
        <div class="-row display">
            <div>
                    <div class="taglabel likes">Tech you want to work with</div>
                    <div class="likes"><span class="post-tag">node.js</span> <span class="post-tag">ruby-on-rails</span> <span class="post-tag">amazon-web-services</span> <span class="post-tag">docker</span> <span class="post-tag">meteor</span> <span class="post-tag">reactjs-flux</span> <span class="post-tag">mongodb</span> <span class="post-tag">php</span> <span class="post-tag">continuous-deployment</span> <span class="post-tag">salt-stack</span> <span class="post-tag">cloud</span> <span class="post-tag">go</span> <span class="post-tag">javascript</span> <span class="post-tag">saas</span> <span class="post-tag">json</span> <span class="post-tag">paas</span> <span class="post-tag">iaas</span> <span class="post-tag">bash</span> <span class="post-tag">api</span></div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div id="cv-sections">
                    <div class="section cv-section-type multi-section" id="cv-experience">
                        <div class="section-header section-opener">
                            <h2 class="h4">
Experience (7)                                                                    <a class="expand" data-toggle-text="hide all">show all</a>
                            </h2>
                        </div>

        <div class="repeater cv-section highlight first collapsible expanded" id="section-955901">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Full Stack Engineer
                                    <br/><span class="location">Stack Riot</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
Current                            </p>
                        </div>
                    </div>
                        <div class="tags">
                            <span class="post-tag">openstack</span> <span class="post-tag">continuous-integration</span> <span class="post-tag">continuous-deployment</span> <span class="post-tag">docker</span> <span class="post-tag">paas</span> <span class="post-tag">github</span> <span class="post-tag">go</span> <span class="post-tag">bash</span> <span class="post-tag">python</span>
                        </div>
                </div>
                    <div class="description markdown collapsible">
                        <p>I've spent a lot of time working with virtualization, Docker and automation recently. One of the biggest challenges has been to get a good testing environment internally, without having to pay exorbitant amounts of money to use services like Heroku. I knew there had to be a better, more affordable alternative, and I was determined to find it.</p>
<p>Naturally I attempted to solve the CI problem with Jenkins, Circle, Codeship and even Travis. However, there are always complications. Hard to install dependencies, Selenium tests, required infrastructure services, build limits, etc. That is why I have grown to love Drone. Run your test suite in a clean docker image every time, cache your dependencies (just like Heroku does), and run a deploy action of your choice if the test succeeds.</p>
<p>Drone also supports various notification mechanisms, including Email, IMs, Gitter and Slack. It also has support for a host of linked services including PostgreSQL, MySQL, MongoDB and Redis. Drone is written in Go, so writing your own service is super easy if needed.</p>
<p>To make this even sweeter, I've coupled Drone with Dokku, a simple Heroku like PaaS built on top of Docker. Using the Github flow with this setup allows automatic staging of all feature branches that pass their tests. With one simple command: <code>git push dokku master</code>, as long as the build passes in Drone, the application will be built in a fresh container and deployed on the Dokku server. Dokku builds the app on a sub-domain using virtual hosts in NGINX, and the app is deployed to the <code>app-name.stackriot.com</code> URL.</p>

                    </div>
            </div>
        </div>
        <div class="repeater cv-section highlight collapsible" id="section-856090">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Enterprise Technical Support Engineer
                                    <br/><span class="location">Bigcommerce</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
June 2014 to August 2015                            </p>
                        </div>
                    </div>
                        <div class="tags">
                            <span class="post-tag">api</span> <span class="post-tag">javascript</span> <span class="post-tag">html</span> <span class="post-tag">css</span> <span class="post-tag">saas</span> <span class="post-tag">redis</span> <span class="post-tag">docker</span> <span class="post-tag">vagrant</span>
                        </div>
                </div>
                    <div class="description markdown collapsible">
                        <p>Bigcommerce, the fastest growing SaaS eCommerce platform in the world, is seeking an eCommerce Technical Support Representative to enable our clients to Sell More with their online stores. At Bigcommerce, we find ways for our Bigcommerce clients to succeed. You will use your web savvy and technical skills to help our clients setup, customize and run their online stores by answering technical questions via the phone and our ticketing system. The right candidate will possess strong technical skills, the ability to communicate effectively and the creativity to engineer solutions for the ever growing world of eCommerce entrepreneurs. As a team, our mission is to make ourselves available, when our clients need, to give them a path to success in a 24/7 environment. As an eCommerce Technical Support Representative, your primary role will be to provide phone support for our ever growing client base. In addition to this focus you will be involved in improving documentation, support processes and procedures.</p>

                    </div>
            </div>
        </div>
        <div class="repeater cv-section highlight collapsible" id="section-856091">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Linux Systems Administrator
                                    <br/><span class="location">HostGator.com, Endurance International Group</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
May 2013 to June 2014                            </p>
                        </div>
                    </div>
                        <div class="tags">
                            <span class="post-tag">linux</span> <span class="post-tag">bash</span> <span class="post-tag">nginx</span> <span class="post-tag">cpanel</span> <span class="post-tag">php</span> <span class="post-tag">mysql</span>
                        </div>
                </div>
                    <div class="description markdown collapsible">
                        <p>HostGator is a world leading provider of shared, reseller, VPS and dedicated web hosting. In 2008, HostGator was recognized by Inc. Magazine as one of the fastest growing private companies in America. According to Inc. Magazine, HostGator is the 21st fastest growing private company in America, the second fastest growing private company in the &quot;business services&quot; sector, and the fastest growing private company in Texas.</p>

                    </div>
            </div>
        </div>
        <div class="repeater cv-section highlight collapsible" id="section-856092">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Web Developer - Ecommerce
                                    <br/><span class="location">Austin Paige Inc.</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
August 2012 to March 2013                            </p>
                        </div>
                    </div>
                        <div class="tags">
                            <span class="post-tag">wordpress</span> <span class="post-tag">woocommerce</span> <span class="post-tag">html</span> <span class="post-tag">css</span> <span class="post-tag">javascript</span> <span class="post-tag">mysql</span> <span class="post-tag">google-analytics</span>
                        </div>
                </div>
                    <div class="description markdown collapsible">
                        <p>I developed the e commerce website using WordPress, set up the social media campaigns and I continue to manage the online store.</p>

                    </div>
            </div>
        </div>
        <div class="repeater cv-section highlight collapsible" id="section-856093">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Web Developer
                                    <br/><span class="location">The Prius Project</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
March 2012 to June 2012                            </p>
                        </div>
                    </div>
                        <div class="tags">
                            <span class="post-tag">wordpress</span> <span class="post-tag">html</span> <span class="post-tag">css</span> <span class="post-tag">javascript</span> <span class="post-tag">mysql</span>
                        </div>
                </div>
                    <div class="description markdown collapsible">
                        <p>I helped launch The Prius Project's website. The Prius Project is a 10 year Philanthropic Campaign underwritten by David Owen and Adam Walker through their company, A List Partners, LLC, benefiting Aids Services of Austin (ASA).</p>

                    </div>
            </div>
        </div>
        <div class="repeater cv-section highlight more collapsible" id="section-856089">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Founder
                                    <br/><span class="location">UnReal Property Solutions, LLC</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
January 2010 to Current                            </p>
                        </div>
                    </div>
                        <div class="tags">
                            <span class="post-tag">aws-opsworks</span> <span class="post-tag">mean-stack</span> <span class="post-tag">github</span> <span class="post-tag">travis-ci</span> <span class="post-tag">dockerhub</span> <span class="post-tag">openstack</span> <span class="post-tag">linuxmint</span>
                        </div>
                </div>
                    <div class="description markdown collapsible">
                        <p>I am a Full Stack Engineer focused on helping companies grow. I enjoy tackling architectural challenges that companies face as they scale. I'm a fearless programmer, and I love learning how to make systems and processes more efficient. I enjoy creative problem solving, and I've spent almost the last decade consulting with thousands of internet entrepreneurs on how they can better optimize their brand and products. It's been an absolute pleasure of mine during these years to be able to assist other entrepreneurs and help them make more money.</p>

                    </div>
            </div>
        </div>
        <div class="repeater cv-section highlight last more" id="section-856094">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Advertising Director
                                    <br/><span class="location">Firstline Security</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
2007 to 2007                            </p>
                        </div>
                    </div>
                        <div class="tags">
                            <span class="post-tag">sales</span>
                        </div>
                </div>
            </div>
        </div>

                            <a class="more">2 more</a>

                    </div>
                    <div class="section cv-section-type multi-section" id="cv-education">
                        <div class="section-header section-opener">
                            <h2 class="h4">
Education                                                            </h2>
                        </div>

        <div class="repeater cv-section highlight first expanded" id="section-856095">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Texas Real Estate
                                    <br/><span class="location">Allied Business Schools</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
2008 to 2009                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="repeater cv-section highlight last" id="section-856096">
            <div class="toggle"></div>
            <div class="display">
                <div class="preview">
                    <div class="-row">
                        <div class="-col8">
                            <h3 class="h4">
                                Computer Science
                                    <br/><span class="location">Texas State University</span>
                            </h3>
                        </div>
                        <div class="-col4">
                            <p class="time-frame">
2004 to 2009                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                    </div>
    </div>
          <!--  <a id="stack"></a>
            <div class="section stack">
                <div class="section-header section-opener">
                    <h2 class="h4">
                        Stack Exchange
                            <a class="expand" data-toggle-text="hide all">show all</a>
                                                    <span class="cv-last-seen-date">Last seen yesterday</span>
                    </h2>
                </div>
        <div id="stackexchange-accounts" class="subsection">

                <h3 class="_subSection subsection-header">Accounts</h3>


            <div class="display highlight">
                        <div class="site">
                                <a href="http://stackoverflow.com/users/5200242">
                                    <img alt="Stack Overflow" class="favicon" src="//cdn.sstatic.net/stackoverflow/img/favicon.ico"><span class="h4">Stack Overflow</span>
                                    <strong>11</strong> <span class="rep">reputation points</span>
                                </a>
                        </div>
                        <div class="site">
                                <a href="http://workplace.stackexchange.com/users/40521">
                                    <img alt="The Workplace" class="favicon" src="//cdn.sstatic.net/workplace/img/favicon.ico"><span class="h4">The Workplace</span>
                                    <strong>1</strong>
                                </a>
                        </div>
                            </div>

        </div>


    <div id="stackexchange-answers"></div>
    <script type="text/html" id="stackexchangeanswerswidget">


        <h3 class="_subSection subsection-header">Top Answers</h3>
        <div class="answers subsection">

        </div>

    </script>
    <script type="text/html" id="topanswer">
        <div class="top-answer -row">
            <span class="top-answer-stats">{{= shared.htmlEncode(Score) }}</span>
            <a class="top-answer-title up-and-out" target="_blank" href="{{=AnswerLink}}">{{= Title }}</a>
            <a class="add-answer btn _secondary _small">add</a>
        </div>
    </script>
    <script type="text/html" id="answer-view">
        <div class="-row answer repeater clearfix collapsible highlight {{ if (IsFirst) { }}first{{ } }} {{ if (IsLast) { }}last{{ } }}" data-site="{{=Site}}" data-question-id="{{=question_id}}" id="section-{{=question_id}}">
            <div class="toggle"></div>
                            <div class="icon"><img class="answer-logo" src="{{= shared.htmlEncode(FaviconUrl) }}" /></div>

            <div class="answer-content">
                <div class="preview -row _gutter">
                    <h3 class="h4 -col10"><a class="answer-title up-and-out" href="{{= AnswerLink }}">{{= Title }}</a><br /></h3>
                    <div class="votes time-frame -col2">
                        {{ if (Accepted) { }}<img src="http://careers.stackoverflow.com/Content/Img/check-accepted.png" class="accepted" title="This was the accepted answer for the question" />{{ } }}

                        {{= shared.htmlEncode(Score) }} votes
                    </div>
                    <p class="tags">
                        {{ if (Tags && Tags.length) { }}
                            {{ for (var i =0; i < Tags.length; i++) { }}
                        <span class="post-tag {{= _.contains(null || [], Tags[i]) ? 'highlighted' : '' }} ">{{=Tags[i]}}</span>
                            {{ } }}
                        {{ } }}
                    </p>
                </div>
                <div class="answer-body collapsible markdown">{{= Body }}</div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        var _cvId = 299315;
        var _editable = false;
    </script>
            </div>
-->
<a id=open-source></a>
                <div class="section section-opener spacer-block">
    <div class="section-header">
        <h2>
Open Source (9)                            <a class="expand" data-toggle-text="hide all">show all</a>
        </h2>
    </div>
    <div>




<div class="project repeater highlight first collapsible" id="project-2727874">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/mean-todo" target="_blank" title="GitHub">mean-todo</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Mar 2016 - Current; forked 2 times
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    ToDo list application built with the MEAN stack | http://mean-todo.stackriot.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight collapsible" id="project-2538803">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/github-notetaker" target="_blank" title="GitHub">github-notetaker</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Feb 2016 - Current
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Take notes on Github profiles - Built with React | http://github-notes.stackriot.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight collapsible" id="project-2473921">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/react-node-webpack" target="_blank" title="GitHub">react-node-webpack</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Jan 2016
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Sample app built with React, Node.js and Webpack | http://react-node-webpack.iocloudstack.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight collapsible" id="project-2567713">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/express-mongo-handlebars" target="_blank" title="GitHub">express-mongo-handlebars</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Feb 2016
                        </p>
                    </div>
                </div>
                    <div class="tags">
                        <span class="post-tag no-tag-menu">javascript</span>
                    </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    User list application built with Express, Node and MongoDB | http://mongo-express.iocloudstack.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight collapsible" id="project-2538804">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/stackriot-labs" target="_blank" title="GitHub">stackriot-labs</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Feb 2016 - Current
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Boilerplate Meteor Application | http://labs.stackriot.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight more collapsible" id="project-2615333">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/be-hapi" target="_blank" title="GitHub">be-hapi</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Feb 2016
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Boilerplate Hapi Web and API Server Example | http://be-hapi.iocloudstack.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight more collapsible" id="project-2453628">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/go-getting-started" target="_blank" title="GitHub">go-getting-started</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Jan 2016
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Getting Started with Go on Heroku | http://go-getting-started.iocloudstack.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight more collapsible" id="project-2143018">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/ghost-blog" target="_blank" title="GitHub">ghost-blog</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Sep 2015 - Jan 2016; forked 2 times
                        </p>
                    </div>
                </div>
                    <div class="tags">
                        <span class="post-tag no-tag-menu">javascript</span> <span class="post-tag no-tag-menu">ghost</span> <span class="post-tag no-tag-menu">css</span> <span class="post-tag no-tag-menu">nginx</span>
                    </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Ghost Blog - http://blog.sethbergman.com
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>




<div class="project repeater highlight last more collapsible" id="project-2143080">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon github" title="Hosted on GitHub">
        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out github" href="https://github.com/sethbergman/simplecart" target="_blank" title="GitHub">simplecart</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">
                            GitHub, Sep 2015 - Jan 2016
                        </p>
                    </div>
                </div>
                    <div class="tags">
                        <span class="post-tag no-tag-menu">meteor</span> <span class="post-tag no-tag-menu">angularjs</span> <span class="post-tag no-tag-menu">docker</span>
                    </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Shopping Cart made from Meteor and Nodejs
                </p>
                <div class="description markdown">

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>
                    <a class="more">4 more</a>


    </div>

                </div>
                <a id=apps></a>

                <div class="section multi-section section-opener spacer-block">
    <div class="section-header">
        <h2>
Apps &amp; Software                    </h2>
    </div>
    <div>




<div class="project repeater highlight first last collapsible" id="project-2410720">
    <div class="toggle"></div>
    <div class="display">
        <div class="icon other" title="Hosted on Other">
<img alt="" src="http://iocloudstack.co/static/favicon.ico">        </div>
        <div>
            <div class="preview">
                <div class="-row">
                    <div class="-col9">
                        <h3 class="h4">
                            <a class="open-source up-and-out other" href="http://iocloudstack.co/" target="_blank" title="">Drone Continuous Integration Platform</a>
                        </h3>

                    </div>
                    <div class="-col3">
                        <p class="time-frame">

                        </p>
                    </div>
                </div>
                    <div class="tags">
                        <span class="post-tag">go</span> <span class="post-tag">docker</span> <span class="post-tag">sqlite3</span> <span class="post-tag">sass</span> <span class="post-tag">paas</span>
                    </div>
            </div>
            <div class="collapsible">
                <p class="location">
                    Drone is a Continuous Integration platform built on container technology. Every build is executed inside an ephemeral Docker container, giving developers complete control over their build environment with guaranteed isolation.
                </p>
                <div class="description markdown">
                    <p>I have set up Drone as continuous integration service for my projects on GitHub. I am using Docker and Quay to automatically build new containers on passing builds.</p>
<p>I've spent a lot of time working with virtualization, Docker and automation recently. One of the biggest challenges has been to get a good testing environment internally, without having to pay exorbitant amounts of money to use services like Heroku. I knew there had to be a better, more affordable alternative, and I was determined to find it.</p>
<p>Naturally I attempted to solve the CI problem with Jenkins, Circle, Codeship and even Travis. However, there are always complications. Hard to install dependencies, Selenium tests, required infrastructure services, build limits, etc. That is why I have grown to love Drone. Run your test suite in a clean docker image every time, cache your dependencies (just like Heroku does), and run a deploy action of your choice if the test succeeds.</p>
<p>Drone also supports various notification mechanisms, including Email, IMs, Gitter and Slack. It also has support for a host of linked services including PostgreSQL, MySQL, MongoDB and Redis. Drone is written in Go, so writing your own service is super easy if needed.</p>
<p>To make this even sweeter, I've coupled Drone with Dokku, a simple Heroku like PaaS built on top of Docker. Using the Github flow with this setup allows automatic staging of all feature branches that pass their tests. With one simple command: <code>git push dokku master</code>, as long as the build passes in Drone, the linked containers will be built in a fresh container. Dokku builds the app on a sub-domain, and it's automatically available at the <code>app-name.iocloudstack.com</code> URL.</p>

                </div>
            </div>

        </div><br style="clear:left" />
    </div>
</div>


    </div>

                </div>
                <a id="writing"></a>
                <div class="section multi-section">
                    <div class="section-header section-opener spacer-block">
                        <h2 class="h4">
                            Writing

                                <a class="expand" data-toggle-text="hide all">show all</a>
                        </h2>
                    </div>


<div class="article repeater first collapsible" id="article-94535">
    <div class="toggle"></div>


    <div class="display highlight">
        <div>
            <div class="preview">
                <div class="icon">
<img alt="" src="http://blog.sethbergman.com/favicon.ico">                </div>



                <h3 class="h4">
                    <a class="up-and-out" href="http://blog.sethbergman.com/aws-ec2-automation-using-bash-scripts/" target="_blank">AWS EC2 Automation Using Bash Scripts</a>
                </h3>

                <p class="location">
                    Seth Bergman | Full Stack Engineer
                </p>

                <div id="article-description" class="description markdown collapsible">
                    <p>This bash script will allow you to automagically SSH into a newly provisioned EC2 container on AWS, as well as terminate instances with a few simple bash commands.</p>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="article repeater collapsible" id="article-96694">
    <div class="toggle"></div>


    <div class="display highlight">
        <div>
            <div class="preview">
                <div class="icon">
<img alt="" src="http://blog.sethbergman.com/favicon.ico">                </div>



                <h3 class="h4">
                    <a class="up-and-out" href="http://blog.sethbergman.com/my-private-continuous-integration-platform/" target="_blank">My Private Continuous Integration Platform</a>
                </h3>

                <p class="location">
                    Seth Bergman | Full Stack Engineer
                </p>

                <div id="article-description" class="description markdown collapsible">
                    <p>I've just completed a project that combines continuous integration and delivery with a platform that builds applications on a fresh Docker container , caches dependencies (just like Heroku) and outputs the source code to <code>app-name.iocloudstack.com</code>.</p>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="article repeater last collapsible" id="article-96686">
    <div class="toggle"></div>


    <div class="display highlight">
        <div>
            <div class="preview">
                <div class="icon">
<img alt="" src="http://blog.sethbergman.com/favicon.ico">                </div>



                <h3 class="h4">
                    <a class="up-and-out" href="http://blog.sethbergman.com/retrospective-state-of-devops-in-2015/" target="_blank">Retrospective:  State of DevOps in 2015</a>
                </h3>

                <p class="location">
                    Seth Bergman | Full Stack Engineer
                </p>

                <div id="article-description" class="description markdown collapsible">
                    <p>DevOps is a combination of development-focused innovation alongside innovation in infrastructure management and operations. Software releases and the various quality assurance and testing environments supporting a production release play an important part in the success of DevOps initiatives, such as continuous deployment and deployment automation.</p>

                </div>
            </div>
        </div>
    </div>

</div>
                </div>
</div>


<script type="text/javascript">
    if (!window.selectedResult) {
        window.selectedResult = { cv: { id: 299315 }};
    }
    if (window.Careers)
    {
        window.Careers.using(["shared", "stackanswers"], function () {
            Careers.stackanswers.init({"StackAnswersUrl":"/cv/stack/answers/299315"})
        });
    }
</script>





                    </div>
            </div>

                <div id="footer" class="clearfix">
                    <div class="container">

                            <div id="footer-menu">
                                    <div class="langSelector">
                                        Select your language:
                                            <span data-lang-code="" class="langSelector-trigger langSelector-trigger_selected">
                                                English (US)
                                            </span>
                                            <span data-lang-code="de" class="langSelector-trigger langSelector-trigger_de">
                                                Deutsch
                                            </span>
                                            <span data-lang-code="uk" class="langSelector-trigger langSelector-trigger_uk">
                                                English (UK)
                                            </span>
                                            <span data-lang-code="fr" class="langSelector-trigger langSelector-trigger_fr">
                                                Fran&#231;ais
                                            </span>
                                    </div>

                                <a href="/why-stack">why stack?</a>
                                <a href="/faq">faq</a>
                                <a href="/support">support</a>
                                <a href="http://www.stackoverflowcareers.com/blog">blog</a>
                                    <a href="http://stackoverflow.com/legal">legal</a>
                                    <a href="http://stackexchange.com/legal/privacy-policy">privacy policy</a>
                                    <a href="http://engine.adzerk.net/r?e=eyJhdiI6NDE0LCJhdCI6MjAsImNtIjo5NTQsImNoIjoxMTc4LCJjciI6MzM5MSwiZG0iOjQsImZjIjozODA5LCJmbCI6Mjc1MSwibnciOjIyLCJydiI6MCwicHIiOjExNSwic3QiOjAsInVyIjoiaHR0cDovL3N0YWNrb3ZlcmZsb3cuY29tL2Fib3V0L2NvbnRhY3QiLCJyZSI6MX0&s=UVPvvSTOyYq-sFzTxnQb7_dg91E">advertise here</a>
                                <strong><a href="http://twitter.com/StackDevJobs">follow us</a></strong>
                                <strong><a href="http://meta.stackoverflow.com">feedback always welcome</a></strong>
                            </div>
                            <div id="copyright">
                                site design / logo &#169; 2016 Stack Exchange Inc.
                            </div>
                            <div id="instance-identifier" class="pdiff">
                                &nbsp; &bull; &nbsp;
                                careers.stackoverflow.com (build 4117)
                            </div>
                    </div>
                </div>
            <noscript>
                <div id="noscript-warning">Stack Overflow requires JavaScript to be enabled</div>
            </noscript>


            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
            <script src="//cdn-careers.sstatic.net/careers/Js/third-party/jquery.typewatch.min.js?v=597ff5964362" type="text/javascript"></script>


<script src="//cdn-careers.sstatic.net/careers/Js/stub.min.js?v=78ad34e150d2" type="text/javascript"></script>
<script src="//cdn-careers.sstatic.net/careers/Js/third-party/jquery.cookie.min.js?v=5eb6bd8dc711" type="text/javascript"></script>



<script type="text/javascript">
    Careers.domain = "careers.stackoverflow.com";
    Careers.referrer = "careers.stackoverflow.com";


    Careers.XSRF_KEY = "92a3755351e53ce7e366a8bddf2b9df9";

    document.documentElement.className += " js";


    Careers.init({"site":{"name":"Stack Overflow Careers"},"user":{"isAnonymous":false}});
    Careers.using.setFileProviding({"bigtext":"//cdn-careers.sstatic.net/careers/Js/third-party/bigtext.min.js?v=a622921b758f","candidateManager":"//cdn-careers.sstatic.net/careers/Js/candidate-manager.min.js?v=8411f330a951","accounts":"//cdn-careers.sstatic.net/careers/Js/accounts.min.js?v=7f7a06392dc7","candidateSearchFullCv":"//cdn-careers.sstatic.net/careers/Js/candidate-search-full-cv.min.js?v=b7c0df6b4792","candidateSearchFullCvPositionless":"//cdn-careers.sstatic.net/careers/Js/candidate-search-full-cv.positionless.min.js?v=24c36e86c26b","candidates":"//cdn-careers.sstatic.net/careers/Js/candidates.min.js?v=1f83e11779f9","careersAuth":"//cdn-careers.sstatic.net/careers/Js/careersauth.min.js?v=3efb50f3eedb","checkout":"//cdn-careers.sstatic.net/careers/Js/checkout.min.js?v=e78bb13c542e","checkoutChoose":"//cdn-careers.sstatic.net/careers/Js/checkout-choose.min.js?v=a1e7f509bc37","companyPages":"//cdn-careers.sstatic.net/careers/Js/company-pages.min.js?v=7b1fd4f16e52","companyPagesCreate":"//cdn-careers.sstatic.net/careers/Js/company-pages.angular-create.min.js?v=b61cb9a9d529","companyPagesEdit":"//cdn-careers.sstatic.net/careers/Js/company-pages.angular-edit.min.js?v=c586f6bac168","cv":"//cdn-careers.sstatic.net/careers/Js/cv.min.js?v=74c4e897d4d3","cvCreate":"//cdn-careers.sstatic.net/careers/Js/cv-create.min.js?v=ceb4ea0d367c","cvEdit":"//cdn-careers.sstatic.net/careers/Js/cv-edit.min.js?v=2f432b658c6c","cvInvitation":"//cdn-careers.sstatic.net/careers/Js/cv-invitation.min.js?v=b1bba62d7d58","cvInvitationsAdmin":"//cdn-careers.sstatic.net/careers/Js/cv-invitations-admin.min.js?v=49fb022df57d","cvWizard":"//cdn-careers.sstatic.net/careers/Js/cv-wizard.min.js?v=38c92108cff4","employerLogin":"//cdn-careers.sstatic.net/careers/Js/employer-login.min.js?v=cc3808bbed05","gps":"//cdn-careers.sstatic.net/careers/Js/analytics.prizm.min.js?v=ac7f0c21490b","import":"//cdn-careers.sstatic.net/careers/Js/import.min.js?v=41b2c95f84e8","jobs":"//cdn-careers.sstatic.net/careers/Js/jobs.min.js?v=a6926ef156d2","jobsAdmin":"//cdn-careers.sstatic.net/careers/Js/jobs.admin.min.js?v=726fc57e5fda","jobsPost":"//cdn-careers.sstatic.net/careers/Js/jobs-post.min.js?v=cc81b905760e","openidJquery":"//cdn-careers.sstatic.net/careers/Js/third-party/openid-jquery.min.js?v=ee0c01412200","positionHeader":"//cdn-careers.sstatic.net/careers/Js/position-header.min.js?v=36fdcc8558f7","privacy":"//cdn-careers.sstatic.net/careers/Js/privacy.min.js?v=97542ff0686b","shared":"//cdn-careers.sstatic.net/careers/Js/shared.min.js?v=b888e6654e56","searchSettings":"//cdn-careers.sstatic.net/careers/Js/search-settings.min.js?v=294b1ebde830","stackanswers":"//cdn-careers.sstatic.net/careers/Js/stackanswers.min.js?v=67b38bf1faa0","tagEditor":"//cdn-careers.sstatic.net/careers/Js/tageditor.min.js?v=1161b275f6e0","userMessaging":"//cdn-careers.sstatic.net/careers/Js/user-messaging.min.js?v=13994e2a0382","minimumCv":"//cdn-careers.sstatic.net/careers/Js/cv-minimum.min.js?v=4e9852f4a16c","activityStatus":"//cdn-careers.sstatic.net/careers/Js/activity-status-sidebar.min.js?v=5aac8cb0aa72","linkAccount":"//cdn-careers.sstatic.net/careers/Js/link-account.min.js?v=7842d4df98c6","profileSummary":"//cdn-careers.sstatic.net/careers/Js/profile-summary.min.js?v=387e1d978dca"});
    Careers.using.setFileProviding({localization: "//cdn-careers.sstatic.net/careers/Js/Localization/localization.min.js?v=e9feb00974db"});


            Careers.language.updateLanguageUrl = 'https://careers.stackoverflow.com/users/update-language';
            Careers.language.currentUrlWithoutPrefix = '/sethbergman';
            Careers.language.showPromptBanner = false;
            Careers.language.showLanguageChangedBanner = false;



        Careers.applyFrameSelector = "#sc_apply_wrapper > iframe";
        Careers.applyAnimateFieldName = "marginTop";
</script>

    <script type="text/javascript">
        // Provide a Careers.GoogleAnalytics Null Object. Should fake all methods defined in analytics.js.
        if (!window.Careers) window.Careers = {};
        if (!window.Careers.GoogleAnalytics) window.Careers.GoogleAnalytics = {};

        window.Careers.GoogleAnalytics.handleInterstitials = function() {
            if (!Careers.GoogleAnalytics.interstitials) { return; }

            Careers.GoogleAnalytics.interstitials.forEach(function(item) {
                switch(item.type) {
                    case 'pageview':Careers.GoogleAnalytics.ajaxPageview({page: item.url, hostname: location.hostname }); break;
                    case 'ecommerce': Careers.GoogleAnalytics.sendEcommerce(item); break;
                    case 'event': Careers.GoogleAnalytics.sendEvent(item.category, item.action, item.label); break;
                }
            });
            Careers.GoogleAnalytics.interstitials = "processed";
        }
    </script>
<script data-args="{&quot;isProxied&quot;:false,&quot;marketingCampaign&quot;:null,&quot;clientId&quot;:&quot;1470488475.1448250892&quot;,&quot;cookieName&quot;:&quot;ga_client_id&quot;,&quot;trackingId&quot;:&quot;UA-5620270-5&quot;}" src="//cdn-careers.sstatic.net/careers/Js/analytics.min.js?v=3b6097ee2be7" type="text/javascript"></script>    <script type="text/javascript">
        // Track any "interstitial" activities before we track the current page hit.
        window.Careers.GoogleAnalytics.handleInterstitials();

        // Normal hit-tracking for current page.
        ga('send', 'pageview');
    </script>
        <script type="text/javascript">
            Careers.using("gps", {
                callback: function() {
                    Careers.gps.init(
                        {"enabled":true,"url":"/analytics/prizm/event"}
                    );
                },
                overwrite: true
            });
        </script>



    <script src="//cdn-careers.sstatic.net/careers/Js/third-party/underscore/1.8.3/underscore.min.js?v=784407af6866" type="text/javascript"></script>

    <script type="text/javascript">
        Careers.using("cv", function () {
            Careers.cv.init();
        });
        Careers.using(["shared", "stackanswers"], function () {
            Careers.stackanswers.init({"StackAnswersUrl":"/cv/stack/answers/299315"})
        });
    </script>


            <script src="//cdn-careers.sstatic.net/careers/Js/topbar.min.js?v=91ea346ab27b" type="text/javascript"></script>
        </body>
</html>
